<!DOCTYPE html>
<html>
<head>
  <title>Dailysmarty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <link href="css/common/main.css" rel="stylesheet">
  <link href="css/common/jquery.fancySelect.css" rel="stylesheet">
        
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render 'shared/header' %>
 

<%= yield %>

</body>
</html>
